body {
   background-color: #25d3f1    ;  }
  h1 { color: #e979e9d7  ;  }
  P  {
       font-size: 16 px;
       color: #25c8f1         ;
  }
header {
   boorder-bottom: solid 3px  #ca9c11 ;
   padding: 10px;
   font-size: 22px;
   color: white;
}
   
    


